<section class="section section--contact-options">
  <div class="u-container">
    <div class="contact-options-head">
      <h2 class="section-title">Get in Touch</h2>
      <p>
        Have questions or need a quote? Choose one of the following options,
        and we'll get back to you promptly.
      </p>
    </div>

    <div class="contact-option-grid">
      <article class="contact-option-card">
        <div class="contact-option-icon" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" id="1608905186" class="svg u_1608905186" alt="call icon" data-hover-effect="forward" data-icon-custom="true" data-icon-name="icon-call-6291667.svg">
            <path d="m83.58 65.6-4.13 20.25a2 2 0 0 1-1.77 1.59c-2.24.21-5.42.49-7.29.49-34.91 0-63.31-29.79-63.31-66.4a69.28 69.28 0 0 1 .4-7.39 2 2 0 0 1 2-1.79h21.76a2 2 0 0 1 2 1.63l4 21.39a2 2 0 0 1-.46 1.69l-6.52 7.41a61 61 0 0 0 20 19.28l11.94-7.68a2 2 0 0 1 1.8-.17l18.36 7.45a2 2 0 0 1 1.22 2.25Zm-5.45-46.74A37.19 37.19 0 0 0 54.29 8.07a2 2 0 0 0-2.13 1.87A2 2 0 0 0 54 12.06 33.11 33.11 0 0 1 84.93 43a2 2 0 0 0 2 1.87h.14a2 2 0 0 0 1.86-2.12 37.19 37.19 0 0 0-10.8-23.89ZM53.2 23.58a21.56 21.56 0 0 1 20.22 20.21 2 2 0 0 0 2 1.87h.13a2 2 0 0 0 1.87-2.12 25.56 25.56 0 0 0-23.95-24 2 2 0 1 0-.26 4Zm-.81 11.49a10.09 10.09 0 0 1 9.53 9.53 2 2 0 0 0 2 1.89H64a2 2 0 0 0 1.88-2.11 14.07 14.07 0 0 0-13.26-13.3 2 2 0 0 0-.23 4Z"></path>
          </svg>
        </div>
        <h3>Fast Response</h3>
        <a class="contact-option-btn" href="tel:+13528012788">Call Us</a>
      </article>

      <article class="contact-option-card">
        <div class="contact-option-icon" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" id="1622324726" class="svg u_1622324726" alt="chat icon" data-hover-effect="forward" data-icon-custom="true" data-icon-name="icon-chat-6291673.svg">
            <path d="M41.83 13.24a34.75 34.75 0 0 0-27.9 55.47l-6.57 11a2 2 0 0 0 1.72 3h32.75a34.76 34.76 0 1 0 0-69.52Zm10 42.37h-31.2a2 2 0 1 1 0-4h31.19a2 2 0 1 1 0 4ZM63 44.39H20.63a2 2 0 1 1 0-4H63a2 2 0 1 1 0 4Zm25.6 35.34a2 2 0 0 1-1.72 3H58.96A38.73 38.73 0 0 0 76 29.62a29 29 0 0 1 7.4 41.24Z"></path>
          </svg>
        </div>
        <h3>Quick Questions?</h3>
        <a class="contact-option-btn" href="mailto:info@hygienicairplus.com">Chat with us</a>
      </article>

      <article class="contact-option-card">
        <div class="contact-option-icon" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" id="1887212143" class="svg u_1887212143" alt="book icon" data-hover-effect="forward" data-icon-custom="true" data-icon-name="icon-book.svg">
            <path d="M48.42 71.89a2 2 0 0 1-2 2H9.08a2 2 0 0 1-2-2V16.23a2 2 0 0 1 2-2h69.05a2 2 0 0 1 2 2V37a2 2 0 0 1-4 0v-6.91h-65v39.8h35.29a2 2 0 0 1 2 2ZM88.89 52a2 2 0 0 0-.82-1.29l-9.79-6.82a2 2 0 0 0-2.78.49l-16.58 23.8a2.08 2.08 0 0 0-.36 1.14v10.45a2 2 0 0 0 2 2 2 2 0 0 0 .69-.12L71 78a2 2 0 0 0 1-.7l16.56-23.76a2 2 0 0 0 .33-1.54Zm-65-14a2 2 0 0 0 0 4h39.39a2 2 0 0 0 0-4Zm29.39 10H23.93a2 2 0 0 0 0 4h29.35a2 2 0 0 0 0-4Zm-10 14a2 2 0 0 0 0-4H23.93a2 2 0 0 0 0 4Z" data-name="1"></path>
          </svg>
        </div>
        <h3>Book Instantly!</h3>
        <a
          class="contact-option-btn"
          href="https://client.housecallpro.com/customer_portal/request-link?token=e189962ac4d546e3b9e813944ff69b3c"
          target="_blank"
          rel="noreferrer"
        >
          Book Now
        </a>
      </article>
    </div>
  </div>
</section>
